{# src/RLI/SuiviBundle/Resources/views/Produit/form.html.twig #}

<link rel="stylesheet" href="{{ asset('dist/css/bootstrap.min.css') }}" />
<script src="{{ asset('dist/js/jquery.min.js') }}"></script>
<script src="{{ asset('dist/js/bootstrap.min.js') }}"></script>

<h2>Ajouter un produit</h2>


<div class="form">

  {{ form(form) }}

</div>
